body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.maindiv {
    margin: auto;
    height: 600vh;
    width: 100vw;
    padding: 0px;
    border: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.headerColour{
    display:flex;
    margin:auto;
    grid-column: 1/10;
    grid-row: 1;
    padding: 0px;
    height:93%;
    width:99%;
    background:rgba(0,0,0,0.50);
    align-items: center;
}

.content{
    grid-row: 2/21;
    grid-column: 2/9;
    height:100%;
    width:100%;
    text-align:center;
    background:gray;
}

.meatimage{
    min-height:0;
    grid-row: 3/4;
    grid-column: 3/8;
    height:100%;
    width:100%;
    background:white;
}

p, ol, ul{
    font-size: 1.5vw;
    font-weight:light;
}

.emphasis{
    color:darkred;
    font-weight:bold;
}

h1{
    font-size: 5vw;
    margin:auto;
    grid-column: 1/10;
    color:rgb(255, 255, 255);
}

.header {
    min-height: 0;
    grid-column: 1/10;
    grid-row: 1;
    padding: 10px;
}

img {
    height: 100%;
    width: 100%;
}